<!DOCTYPE html>
<html>
<head>
  <title>MyVideos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="//assets-cdn.ziggeo.com/css/ziggeo-v1.css" />
<script src="//assets-cdn.ziggeo.com/js/ziggeo-v1.js"></script>
<script>ZiggeoApi.token = "2bb2b8fe4f6383002ac59a60a6387587";</script>
<script>ZiggeoApi.Config.cdn = true;</script>

</head>
<body>

<%= yield %>

</body>
</html>
